@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
a{
    text-decoration: none;
}

.root {
    width: 100%;
    min-height: 100vh;
    align-items: center;
    background: #101010;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.root .header {
    font-size: 16px;
    color: #9A9A9A;
    width: 100%;
    display: flex;
    justify-content: end;
}

.root .header a{
    color: #9A9A9A;
}
.root .header span {
    margin-left: 20px;
    cursor: pointer;
}

.root .value {
    width: 100%;
    height: 80%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.root .value .wrapper {
    max-width: 679px;
}

.root .value .wrapper h1 {
    color: #9A9A9A;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 46px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: linear-gradient(97.13deg, rgb(233, 233, 233) 0%, rgb(81, 81, 81) 100%);
}

.root .value .wrapper h2 {
    margin: 30px 0;
    font-size: 24px;
    color: #9A9A9A;
    background-clip: text;
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: linear-gradient(97.13deg, rgb(233, 233, 233) 0%, rgb(81, 81, 81) 100%);
}
.root .value .wrapper p{
    font-size: 24px;
    color: #8a8a8a;
    /* background-clip: text; */
    font-weight: 300;
    /* -webkit-text-fill-color: transparent;
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: linear-gradient(97.13deg, rgb(233, 233, 233) 0%, rgb(81, 81, 81) 100%); */
}
.root .footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    /* flex-grow: 1; */
    /* height: 100%; */
}
.root .footer .btn{
    padding: 18px 45px;
    background-color: #1a1a1a;
    border: solid #242424 1px;
    border-radius: 10px;
    color: #9A9A9A;
    text-decoration: none;
}

@media only screen  and (max-device-width: 1024px) and (orientation: portrait) {
    /* Styles untuk tablet mode potret */
    .root{
        padding: 50px;
    }
    .root .header{
        justify-content: center;
    }
    .root .header span:nth-child(1){
        margin-left: 0;
    }
    .root .value{
        margin:  50px 0;
    }
}
